.main-header{
    background-color:$primary;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-radius: 0 0 85% 85% / 30%;
    
    h1{
        font-size: 1.2rem;
        color: white;
        margin:0;
    }

    .head-butons{

        a:first-of-type{
            border-right: 1px solid white;
            padding-right: 0.4rem;
        }
        a{
            text-decoration: none;
            color: white;
        }

        a:hover{
            color: rgb(219, 219, 219);
        }
    }


    @include mq('sm'){

        h1{
            font-size: 1.4rem;
        }
    }

}