.main{

    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    @extend %side;

    a{
        transition: .3s all;
        text-align: center;
        color: white;
        font-weight: 600;
        display: inline-block;
        margin-top: 1.3rem;
        text-decoration: none;
        padding: 1rem 2rem;
        background-color: $primary;
        border-radius: 50px;
    }
    a:hover{
        background-color: $hover;
    }
    h2{
        margin: 1.5rem 0 ;
        text-align: center;
    }

    @include mq('sm'){

        a{
            width: 60%;
            margin: 1.3rem auto 0 auto;
        }

        h2{
            font-size: 1.6rem;
        }
    }

    @include mq('md'){

        a{
            width: 45%;
        }

        h2{
            font-size: 1.8rem;
        }
    }

    @include mq('lg'){

        a{
            width: 33%;
        }

        h2{
            font-size: 2rem;
        }
    }

}