.sign-main{

    transition: 1s all;
    position: absolute;
    top: 0;
    right: 100%;
    border-radius: 0rem 5rem 5rem 0 ;

    padding-top: 4rem;
    @include flex($disp:flex,$dir:column,$just:null ,$all:center);

    height: 92vh;
    background-image: url(/img/sign-background.jpg);
    background-position: center;


    @extend %side;
    h2{
        color: white;
        font-size: 2rem;
    }

    p{
        a{
            padding: 0;
            padding-left: 0.4rem;
            margin-top: 0;
            background-color: transparent;
        }
        a:hover{
            background-color: transparent;
        }
    }

}