.galerie-img{
    p{
        text-align: center;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    img{
        border-radius: 4px;
        width: 250px;
        height: 250px;
    }
}